
@{
    ViewBag.Title = "Agregar";
}


<h2>Agregar</h2>
<form action="Form/Agregar" method="post">
    <input type="text" name="Nombre" />
    <input type="number" name="Codigo" />
    <input type="number" name="HoraLlegada" />

    <input type="submit" value="Agregar" />
</form>