@model Laboratorio_2.Models.Visitador
@{
    ViewBag.Title = "BuscarNombre2";
}

<h2>BuscarNombre2</h2>
<form action="/Visitador/BuscarNombre" method="post">
    <input type="text" name="Nombre" value="" />
    <input type="submit" name="Buscar" value="Buscar" />
</form>

