@model Laboratorio_2.Models.Visitador
@{
    ViewBag.Title = "BUSQUEDA2";
}

<h2>BUSQUEDA</h2>
<form action="/Visitador/BUSQUEDA" method="post">
    <input type="number" name="Codigo" value="" />
    <input type="submit" name="Buscar" value="Buscar" />
</form>