
@{
    ViewBag.Title = "MetodoEnviarEmpleado";
}



<h4>El empleado ha salido a trabajar</h4>
<form action="/Visitador/MostrarEmpleados" method="post">
    <input type="submit" value="Regresar" />
</form>